{% extends 'base.html.twig' %}

{% block title %}Groupe index{% endblock %}

{% block body %}
    <h1>Liste des groupes</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a type="button" class="btn btn-outline-primary" href="{{ path('groupe_new') }}">Create new</a>
    <hr>
    {% endif %}
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.id }}</td>
                <td>{{ groupe.nom }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{{ path('groupe_show', {'id': groupe.id}) }}">show</a>
                    <a type="button" class="btn btn-primary" href="{{ path('groupe_edit', {'id': groupe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
