{% extends 'base.html.twig' %}

{% block title %}SousGroupe index{% endblock %}

{% block body %}
    <h1>SousGroupe index</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a type="button" class="btn btn-outline-primary" href="{{ path('sous_groupe_new') }}">Create new</a>
        <hr>
    {% endif %}
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_groupe in sous_groupes %}
            <tr>
                <td>{{ sous_groupe.id }}</td>
                <td>{{ sous_groupe.nom }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{{ path('sous_groupe_show', {'id': sous_groupe.id}) }}">show</a>
                    <a type="button" class="btn btn-primary" href="{{ path('sous_groupe_edit', {'id': sous_groupe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
