{% extends 'base.html.twig' %}

{% block title %}SousGroupe{% endblock %}

{% block body %}
    <h1>SousGroupe</h1>
     <div class="row col-8">
        <a type="button" class="btn btn-outline-success col-2" href="{{ path('sous_groupe_index') }}">Revenir à la liste</a>
        <a type="button" class="btn btn-outline-success col-2" href="{{ path('sous_groupe_edit', {'id': sous_groupe.id}) }}">edit</a>
        {{ include('sous_groupe/_delete_form.html.twig') }}
    </div>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sous_groupe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sous_groupe.nom }}</td>
            </tr>
            <tr>
                <th>Promotion</th>
                <td>{{ promotion.nom}} - {{ promotion.annees ? promotion.annees|date('Y') : ''}}</td>
                <td><a href="{{ path('promotion_show', {'id': promotion.id}) }}">show</a></td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ sous_groupe.groupe.nom }}</td>
                <td><a href="{{ path('groupe_show', {'id': sous_groupe.groupe.id}) }}">show</a></td>
            </tr>

        </tbody>
    </table>    
{% endblock %}
