{% extends 'base.html.twig' %}

{% block title %}Etudiant inscrits{% endblock %}

{% block body %}
    <h1>Liste des Étudiants Inscrits</h1>
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>TelephoneMobile</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.telephoneMobile }}</td>
                <td>{{ etudiant.email }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{{ path('etudiant_show', {'id': etudiant.id}) }}">show</a>
                    <a type="button" class="btn btn-primary" href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">edit</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if(etudiant.user == null) %}
                            <a type="button" class="btn btn-primary" href="{{ path('user_new', {'id': etudiant.id}) }}">Créer compte Utilisateur</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
